*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    width: 100vw;
    height: 8vh;
    font-size: 40px;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    position: relative;
    
  
}

header>img{
    margin-top: 10px;
    margin-left: 10px;
}

header>span{
    position: absolute;
    bottom:15px;
    font-weight: 900;
}


body{
    background-color:#F6F8F9;
    
}

main{
    background-color: gray;
    width: 70vw;
    height: 70vh;
    margin: auto;
   
    margin-top:10%;
    padding-left: 10%;
    background-color:white;
    border-radius: 5px;
}
    

.bottoni-up{
    margin: 10px 10px;
    height: 30px;
}



button{
    border-radius: 5px;
}

.task{
    background-color: rgb(240, 254, 255);
    border-color:rgb(240, 254, 255) ;
   
}

.editorial{
    background-color: aqua;
    border-color: aqua;
}

.Goals{
    background-color: purple;
}

.recruiting{
background-color: aqua;
}

.mobile{
    background-color: orange;
}

.website{
    background-color: fuchsia;
}

.Sales{
background-color:green;
}